.container-paginado{
    display: flex;
    width: 40%;
    justify-content: center;
    margin:auto;
    padding: 2px;    
}
 
.lista-paginado{
    display: flex;
    flex-direction: row;
}
 
.lista-paginado li{
    list-style: none;
    padding-left: 8px;
    padding-right: 8px;
}
 
.lista-paginado #notSelected{
    background-color: #a18a03b9;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    color: antiquewhite;
    text-shadow: 2px 2px 3px #302b00;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial;
    text-decoration: none;
    box-shadow: 6px 5px 7px #252525;
}
 
.lista-paginado #notSelected:hover{
    background-color: #196ae4e6;
    box-shadow: 6px 5px 24px #666666;
    transition-delay: 0.2s;
    transition: 0.8s;
}
 
.lista-paginado #selected{
    background-color: #196ae4e6;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    color: rgb(253, 251, 253);
    font-weight: bold;
    font-size: 15px;
    text-shadow: 2px 2px 1px #0e1d5a;
    font-family: Arial;
    text-decoration: none;
    box-shadow: 6px 5px 24px #666666;
}
